.cta{
    background: url('../assets/img/cta/bg1.png') no-repeat left top, url('../assets/img/cta/bg2.png') no-repeat right bottom;
    background-color: #d6edfa;
    padding:75px 0;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        margin-bottom: 15px;
        font-size: 35px;
        font-weight: 400;
        text-align: center;
    }
    &__subtitle{
        font-weight: 400;
        text-align: center;
        font-size: 18px;
        margin-bottom: 35px;
    }
    &__subtitle-2{
        font-size: 25px;
        text-align: center;
        font-weight: 400;
        margin-bottom: 55px;
    }
    &__form-wrapper{
        // max-width:80%;
    }
}

.cta-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .input-wrap{
        margin: 10px 15px;
        input{
            width: 420px;
            height: 40px;
            padding-left: 20px;
            padding-right: 40px;
            outline: none;
        }
    }
    button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 420px;
        height: 40px;
        margin: 10px 15px;
        background-color: #f48625;
        color:$white;
        font-size:16px;
        border-radius: 3px;
        border:none;
        cursor: pointer;
        transition: .3s;
        &:hover{
            color:#333;
        }
    }

    .input-tel{
        position: relative;
        &::before{
            content: '';
            background: url('../assets/img/cta/phone.svg') no-repeat center center;
            background-size: cover;
            position: absolute;
            right: 15px;
            width: 20px;
            height: 20px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    .input-mail{
        position: relative;
        &::before{
            content: '';
            background: url('../assets/img/cta/mail.svg') no-repeat center center;
            background-size: cover;
            position: absolute;
            right: 15px;
            width: 20px;
            height: 20px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    .input-site{
        position: relative;
        &::before{
            content: '';
            background: url('../assets/img/cta/web.svg') no-repeat center center;
            background-size: cover;
            position: absolute;
            right: 15px;
            width: 20px;
            height: 20px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}


@media screen and (max-width:950px){
    .cta{
        &__form-wrapper{
            width:100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
        }
    }



    .cta-form{
        max-width: 450px;
    }
}




@media screen and (max-width:577px){
    .cta{
        padding:40px 0;
        &__title{
            font-size: 25px;
        }
        &__subtitle{
            font-size:18px;
        }
        &__subtitle-2{
            font-size:18px;
        }
    }
}


@media screen and (max-width:472px){
    .cta-form{
        max-width: 230px;
        .input-wrap{
            max-width: 230px;
            margin: 0;

            input{
                margin-bottom: 10px;
                max-width: 230px;
            }
        }
        button{
            margin: 0;
            width: 230px;
        }
    }
}
