.steps{
    background: url('../assets/img/steps/bg1.png') no-repeat top left, url('../assets/img/steps/bg2.png') no-repeat right bottom;
    background-color: #d6edfa;
    padding:75px 0;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        margin-bottom: 40px;
        font-size: 35px;
        font-weight: 400;
        text-align: center;
    }
    &__list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item{
        width: 275px;
        margin: 5px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        img{
            max-width: 100%;
            display: block;
            height: auto;
            margin-bottom: 20px;
        }
        p{
            text-align: center;
            a{
                color:$orange;
            }
        }

    }
}

// Arrows

.steps__item-first{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        right: -40px;
        top: 22px;
        width: 68px;
        height: 21px;
        background: url('../assets/img/steps/arrow1.png') no-repeat center center;
        background-size: cover;
    }
}

.steps__item-second{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        right: -40px;
        top: 42px;
        width: 68px;
        height: 21px;
        background: url('../assets/img/steps/arrow2.png') no-repeat center center;
        background-size: cover;
    }
}


.steps__item-fourth{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        right: -40px;
        top: 42px;
        width: 68px;
        height: 21px;
        background: url('../assets/img/steps/arrow3.png') no-repeat center center;
        background-size: cover;
    }
}

.steps__item-fifth{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        right: -40px;
        top: 42px;
        width: 68px;
        height: 21px;
        background: url('../assets/img/steps/arrow4.png') no-repeat center center;
        background-size: cover;
    }
}

.steps__item-sixth{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        right: 25px;
        top: -50px;
        width: 35px;
        height: 60px;
        background: url('../assets/img/steps/arrow6.png') no-repeat center center;
        background-size: cover;
    }
}



@media screen and (max-width:950px){
    .steps{
        &__list{
            justify-content: space-around;
        }
        &__item{
            &::before{
                display: none;
            }
        }
    }
}


@media screen and (max-width:577px){
    .steps{
        padding:40px 0;
        &__title{
            font-size: 25px;
        }
        &__subtitle{
            font-size:18px;
        }

    }
}