@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Exo 2', sans-serif;
  color: #333;
}

.container {
  max-width: 966px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-form .order-form__input {
  width: 270px;
  height: 40px;
  padding-left: 20px;
  padding-right: 40px;
  border: 1px solid #e6e6e6;
  color: #000;
  border-radius: 3px;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: none;
}

.order-form .order-form__btn {
  display: inline-block;
  text-align: center;
  border: 2px solid transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  background-color: #f48625;
  border-radius: 3px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header {
  background: #fff;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 0px;
}

.header__title {
  font-size: 25px;
  line-height: 1.2;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__tel {
  color: #f48625;
  text-decoration: none;
  margin-bottom: 3px;
  font-size: 22px;
  font-weight: 500;
  position: relative;
}

.header__tel span {
  color: #333;
  margin-right: 5px;
}

.header__tel::before {
  content: '';
  background: url("../assets/img/header/phone.svg") no-repeat center center;
  background-size: cover;
  top: 5px;
  left: -25px;
  width: 18px;
  height: 18px;
  position: absolute;
}

.header__contact-btn {
  border-bottom: 1px dotted #333;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  position: relative;
  margin-right: 14px;
}

.header__contact-btn::before {
  content: '';
  position: absolute;
  right: -13px;
  top: 10px;
  border: 5px solid transparent;
  border-top: 5px solid #333;
}

.header__bottom {
  border-top: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header__menu li {
  padding: 5px 0px;
}

.header__menu li:first-child {
  margin-left: -15px;
}

.header__menu li a {
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  color: #333;
  position: relative;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.header__menu li a:hover {
  color: #f48625;
}

.header__menu li a::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 1px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: .1;
  background-color: #333;
}

.header__dropdown-btn {
  position: relative;
  top: 2px;
  display: inline-block;
  content: '';
  width: 12px;
  height: 12px;
  background: url("../assets/img/header/arrow-down.svg") center center no-repeat;
  background-size: cover;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__search .search {
  outline: none;
  border: 1px solid #e6e6e6;
  color: #000;
  border-radius: 3px;
  -webkit-transition: all .3s;
  font-size: 14px;
  padding: 5px 30px 7px 10px;
  transition: all .3s;
}

.header__search .search:focus {
  border-color: #f48625;
}

.header__search .search-btn {
  background: none;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-left: none;
  background: #fff;
  width: 20px;
  height: 20px;
}

.header__search .search-btn img {
  display: block;
  max-width: 100%;
  height: auto;
}

.intro {
  background: url("../assets/img/intro/bg.jpg") no-repeat top center;
  background-size: cover;
  padding: 94px 0px 80px;
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 60px;
  text-align: center;
  margin: 0 auto 40px;
  border: 3px solid #4eade2;
  border-top: 0;
  color: #fff;
}

.intro__text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 3px;
  background-color: #4eade2;
}

.intro__text::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 3px;
  background-color: #4eade2;
}

.intro__title {
  margin-top: -20px;
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  margin-bottom: 25px;
  text-align: center;
}

.intro__description {
  margin-bottom: 30px;
  font-size: 25px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.intro__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__order button {
  padding: 9px 14px;
}

.intro__order .input-wrapper {
  position: relative;
  margin-right: 30px;
}

.intro__order .input-wrapper::before {
  content: '';
  position: absolute;
  right: 15px;
  width: 20px;
  height: 20px;
  top: 50%;
  background-color: red;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../assets/img/intro/phone.svg") no-repeat center/cover;
}

.intro__items {
  max-width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 15px;
}

.intro__item:last-child {
  margin-right: 0px;
}

.intro__item img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 17px;
}

.intro__item p {
  color: #fff;
}

.qualification {
  background: url("../assets/img/qualification/bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 75px 0;
}

.qualification__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qualification__title {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}

.qualification__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.qualification__items img {
  display: block;
  max-width: 100%;
  height: auto;
}

.qualification__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.qualification__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.qualification__group img {
  margin-bottom: 20px;
}

.qualification__group img:last-child {
  margin-bottom: 0px;
}

.advantages {
  padding: 75px 0 25px;
  background: url("../assets/img/advantages/bg1.png") no-repeat top left, url("../assets/img/advantages/bg2.png") no-repeat bottom right;
  background-color: #d6edfa;
}

.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__title {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__img {
  margin-right: 20px;
}

.advantages__text h4 {
  margin-bottom: 8px;
  text-transform: uppercase;
}

.advantages__text p {
  font-weight: 300;
  line-height: 22px;
  color: #555;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  margin-bottom: 50px;
}

.why {
  padding: 75px 0;
  background: url("../assets/img/why/bg.jpg") no-repeat center center;
  background-size: cover;
}

.why__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__title {
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}

.why__title span {
  color: #314483;
}

.why__subtitle {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

.why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px 30px 0;
  max-width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 6px 46px rgba(0, 0, 0, 0.09);
          box-shadow: 0 6px 46px rgba(0, 0, 0, 0.09);
  margin-bottom: 25px;
}

.why__item:last-child {
  margin-bottom: 0px;
}

.why__img {
  margin-left: 50px;
  margin-right: 25px;
  padding: 25px;
}

.why__text h4 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #f48625;
}

.why__text p {
  line-height: 24px;
}

.why__text p span {
  margin-bottom: 12px;
}

.work {
  padding: 75px 0px;
  background: url("../assets/img/work/bg1.png") top left no-repeat, url("../assets/img/work/bg2.png") bottom right no-repeat;
  background-color: #d6edfa;
}

.work__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.work__title {
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.work__subtitle {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 45px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.work__item:last-child {
  margin-right: 0px;
}

.work__img {
  margin-right: 20px;
  width: 150px;
  height: 80px;
}

.work__img img {
  max-width: 100%;
  height: auto;
  display: block;
}

.work__text h4 {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.work__text p {
  line-height: 22px;
}
/*# sourceMappingURL=style.css.map */